#INGAT sudo a2enmod rewrite AGAR BISA REWRITE ENGINE ON!!!!
Options +FollowSymLinks

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?url=$1 [L]